[Unit]
Description=bugwarrior-pull

[Service]
Environment="DISPLAY=:0"
ExecStart="%h/.local/bin/sync-bw"
Type=oneshot

[Install]
WantedBy=default.target
