cfr-*.jar
editors/goneovim/sessions
editors/vim/.netrwhist
file-leak-detector-1.13-jar-with-dependencies.jar
**/.gitconfig.local
shells/fish/fish/env.local.fish
shells/fish/fish/fish_variables
shells/fish/omf/weather/api-key
editors/vim/spell/

__pycache__

editors/vim/plugin/packer_compiled.vim
editors/vim/plugin/packer_compiled.lua
