cfr-*.jar
editors/goneovim/sessions
editors/vim/.netrwhist
file-leak-detector-1.13-jar-with-dependencies.jar
**/.gitconfig.local
shells/fish/fish/env.local.fish
shells/fish/fish/fish_variables
shells/fish/omf/weather/api-key
tools/bin/bin
editors/vim/spell/
tools/bin/greenclip
tools/bin/pyls
tools/bin/youtube-dl
tools/bin/protoc
tools/bin/swagger
tools/bin/micro
tools/bin/kubectl
tools/bin/istioctl

tools/bin/idea
tools/bin/datagrip
tools/bin/login-aws
