snippet j "Java" w
Java
endsnippet

# symbols
snippet .- "• " w
• 
endsnippet

snippet .v "✓" w
✓
endsnippet

snippet coffee "☕" w
☕
endsnippet

# functions
snippet now "Current timestamp" w
`!v strftime("%Y-%m-%d %T")`
endsnippet

snippet bnow "Bullet and current timestamp" w
- **`!v strftime("%Y-%m-%d %T")`**
endsnippet

snippet file "file name" w
`!v expand('%:t')`
endsnippet

snippet path "absolute file path" w
`!v expand('%:p')`
endsnippet
